In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("../data/ml-latest-small/links.csv")

In [3]:
df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [9]:
a=df[df["movieId"]==1]["tmdbId"]

In [11]:
a.item()

862.0

In [6]:
df.movieId

0            1
1            2
2            3
3            4
4            5
         ...
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9742, dtype: int64

In [2]:
item_latents = pd.read_csv("data/items_latents.csv")

In [8]:
item_latents = pd.read_csv("data/items_latents.csv", index_col=0)
item_latents.head()

,0,1,2,3,4,5,6,7,8,9,...,59037,59038,59039,59040,59041,59042,59043,59044,59045,59046
0,1.859940,-0.403787,-0.623316,-0.022038,-0.252642,-0.147366,0.732697,-0.258567,-0.290718,-1.030618,...,0.005955,0.005955,0.005955,0.005955,-0.011560,-0.011560,-0.011560,0.001563,1.454350e-06,1.454350e-06
1,1.573928,0.930084,1.039154,0.858215,-0.504973,-0.658577,-0.154672,0.648756,1.068196,0.850822,...,-0.007155,-0.007155,-0.007155,-0.007155,0.013889,0.013889,0.013889,0.000452,4.208838e-07,4.208838e-07
2,0.945777,-0.805498,-0.846989,0.066148,-0.696056,-0.866151,0.482989,-0.032412,0.130660,0.877005,...,-0.002040,-0.002040,-0.002040,-0.002040,0.003961,0.003961,0.003961,-0.001623,-1.509648e-06,-1.509648e-06
3,0.434356,1.372746,1.480768,0.757537,0.502105,0.861980,1.174765,0.357013,0.454678,-0.458667,...,-0.013928,-0.013928,-0.013928,-0.013928,0.027038,0.027038,0.027038,0.001538,1.431097e-06,1.431097e-06
4,0.023330,-0.213744,-0.268805,-0.505235,-0.200306,-1.575257,-0.301622,0.638860,0.666906,0.740368,...,-0.008822,-0.008822,-0.008822,-0.008822,0.017125,0.017125,0.017125,0.004312,4.011279e-06,4.011279e-06

In [9]:
item_latents = item_latents.to_numpy()
item_latents.shape

(10, 59047)

In [4]:
item_biases = pd.read_csv("data/item_biases.csv", index_col=0)
item_biases = item_biases.to_numpy().ravel()

In [5]:
item_biases.shape

(59047,)

In [40]:
item_biases.shape

(59047,)